.templateLayout {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 68px 1fr auto;
}

.templateLayoutHeader {
    height: fit-content;
    position: sticky;
    top: 0;
    grid-column: var(--horizontal-fill);
    z-index: 9;
}

.templateLayoutMenu {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    transition: width ease 0.4s;
}

.templateLayoutContent {
    grid-column: 2 / 3;
}

.templateLayoutFooter {
    grid-column: 2 / 3;
    box-sizing: border-box;
    background: var(--color-secondary-50);
}

@media screen and (-webkit-device-pixel-ratio: 1.5 ), (max-width: 1400px) {
    .templateLayout {
        grid-template-rows: 60px 1fr auto;
    }
}
