:root {
    --color-primary-50: #f2f8ff;
    --color-primary-100: #e7f2ff;
    --color-primary-200: #dcecff;
    --color-primary-300: #c4dfff;
    --color-primary-400: #7eb8ff;
    --color-primary-500: #3389f4;
    --color-primary-600: #0066cc;
    --color-primary-700: #09549d;
    --color-primary-800: #0b4482;
    --color-primary-900: #0e2a5a;
    --color-secondary-50: #f8fafc;
    --color-secondary-100: #f1f5f9;
    --color-secondary-200: #e2e8f0;
    --color-secondary-300: #cbd5e1;
    --color-secondary-400: #94a3b8;
    --color-secondary-500: #64748b;
    --color-secondary-600: #475569;
    --color-secondary-700: #334155;
    --color-secondary-800: #1e293b;
    --color-secondary-900: #0f172a;
    --color-dark-200: #f5f5f5;
    --color-dark-300: #d4d4d4;
    --color-dark-400: #a3a3a3;
    --color-dark-500: #737373;
    --color-dark-600: #525252;
    --color-dark-700: #404040;
    --color-dark-800: #262626;
    --color-dark-900: #171717;
    --color-base-white: #ffffff;
    --color-white-transparent20: rgba(255, 255, 255, 0.2);
    --color-white-transparent12: rgba(255, 255, 255, 0.12);
    --color-white-transparent25: rgba(255, 255, 255, 0.25);
    --color-white-transparent40: rgba(255, 255, 255, 0.4);
    --color-white-transparent50: rgba(255, 255, 255, 0.5);
    --color-orange-0: #fff4e9;
    --color-orange-50: #fff7ed;
    --color-orange-100: #ffedd5;
    --color-orange-200: #fed7aa;
    --color-orange-300: #fdba74;
    --color-orange-400: #fb923c;
    --color-orange-500: #f97316;
    --color-orange-600: #ea580c;
    --color-orange-700: #c2410c;
    --color-orange-800: #9a3412;
    --color-label-orange: #fa6f0a;
    --color-label-orange-light: #f8e3d4;
    --color-label-pink: #ef1d69;
    --color-label-pink-light: #f7dde8;
    --color-success-100: #c7ecdb;
    --color-success-200: #b6e5d0;
    --color-success-700: #2e9264;
    --color-success-800: #226d4b;
    --color-error-100: #fcdbd9;
    --color-error-200: #fac9c5;
    --color-error-300: #f8b7b2;
    --color-error-400: #f5928c;
    --color-error-600: #ee4a3f;
    --color-error-700: #bf3b32;
    --color-error-800: #912d26;
    --color-typography-body: #475569;
    --color-typography-link: #06c;
    --color-typography-title: #0f172a;
    --color-typography-description: #64748b;
    --color-typography-additional: #94a3b8;
    --color-shadow: #94a3b81f;
    --color-input-hover: #94a3b8;
    --color-neutral-600: #525252;
    --color-red-50: #ffe9e8;
    --color-red-100: #fcdbd9;
    --color-red-200: #fac9c5;
    --color-red-400: #f5928c;
    --color-red-500: #f16e65;
    --color-red-600: #ee4a3f;
    --color-red-700: #bf3b32;
    --color-red-800: #912d26;
    --color-pink-50: #fdf2f8;
    --color-pink-100: #fce7f3;
    --color-pink-200: #fbcfe8;
    --color-pink-300: #f9a8d4;
    --color-pink-400: #f472b6;
    --color-pink-600: #db2777;
    --color-pink-700: #be185d;
    --color-pink-800: #9d174d;
    --color-green-50: #d9f2e7;
    --color-green-100: #c7ecdb;
    --color-green-200: #b6e5d0;
    --color-green-300: #a4dec4;
    --color-green-400: #80d1ac;
    --color-green-500: #5dc395;
    --color-green-600: #39b67d;
    --color-green-700: #2e9264;
    --color-green-800: #226d4b;
    --color-teal-100: #ccfbf1;
    --color-teal-200: #b6e5d0 ;
    --color-teal-300: #5eead4;
    --color-teal-400: #2dd4bf;
    --color-teal-500: #14b8a6;
    --color-teal-600: #0d9488;
    --color-teal-700: #0d9488;
    --color-light-hover: #cbd5e1;
    --color-border-card: #e2e8f0;
    --color-purple-50: #f5f3ff;
    --color-purple-100: #ede9fe;
    --color-purple-200: #d9cffe;
    --color-purple-300: #c4b5fd;
    --color-purple-400: #a78bfa;
    --color-purple-600: #7c3aed;
    --color-purple-700: #6d28d9;
    --color-purple-800: #5b21b6;
    --color-slate-50: #f8fafc;
    --color-primary-bg: #0781ec;
    --color-bg-border: #00426947;
    --color-additional-black: #0b0b0b;
    --color-typo-primary: #002033;

    --color-values-dark-title: #424242;
    --color-values-cream-title: #f2ead0;
    --color-values-sub-title: #8d8b86;
}
