.teambuildingsWalletIconButton,
.teambuildingsWalletIconButton:hover,
.teambuildingsWalletIconButton:active {
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-8);
    padding: 4px;
    background: linear-gradient(132deg, #5cc1f7 12.89%, #7479f8 97.53%);
}

.teambuildingsWalletIconButton svg,
.teambuildingsWalletIconButton:hover svg,
.teambuildingsWalletIconButton:active svg {
    background: linear-gradient(132deg, #5cc1f7 12.89%, #7479f8 97.53%);
}

.teambuildingsWalletIconButton svg path,
.teambuildingsWalletIconButton:hover svg path,
.teambuildingsWalletIconButton:active svg path {
    fill: var(--color-base-white);
}

.walletMenu {
    top: 42px;
    left: 0;
    right: 0;
}
