.buttonIcon {
    min-width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-8);
    background: var(--color-secondary-100);
}

.buttonIcon:hover {
    background: var(--color-secondary-200);
}

.buttonIcon:active {
    background: var(--color-secondary-300);
}

.buttonIcon:hover path {
    stroke: var(--color-secondary-500);
}

.buttonIcon:active path {
    stroke: var(--color-secondary-600);
}

.buttonIcon path {
    stroke: var(--color-secondary-400);
}

.disabledIconButton:hover,
.disabledIconButton:active,
.disabledIconButton {
    background: var(--color-secondary-100);
    cursor: default;
}

.disabledIconButton:hover path,
.disabledIconButton:active path,
.disabledIconButton path {
    stroke: var(--color-secondary-400);
}
